<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <div>
        <label for="name">Name</label>
        <input name="name" type="text" maxlength="50" minlength="10" />
      </div>

      <div>
        <label for="category">Category</label>
        <select name="category" id="">
          <option value="">Italian</option>
          <option value="">Fast food</option>
          <option value="">Salads</option>
          <option value="">Japanese</option>
          <option value="">Mexican</option>
        </select>
      </div>

      <div>
        <label for="price">Price</label>
        <input name="price" type="text" maxlength="50" minlength="10" />
      </div>

      <div>
        <label for="desc">Description</label>
        <input name="desc" type="text" maxlength="50" minlength="10" />
      </div>

      <div>
        <label for="date">Created at</label>
        <input name="date" type="date" maxlength="50" minlength="10" />
      </div>
    </form>
  </body>
</html>
